@page "/"
<PageTitle>PetClinic</PageTitle>

<div class="home-hero">
    <h2 class="home-title">Welcome to PetClinic</h2>
    <div class="home-image-wrap">
        <img src="/pets.png" alt="pets" class="home-pets-img" />
    </div>
</div>
