@page "/not-found"
@layout MainLayout

<PageTitle>Page Not Found</PageTitle>

<div class="container">
    <h2>Oops!</h2>
    <div class="alert alert-danger">
        <h4>Something happened...</h4>
        <p>The page you are looking for was not found.</p>
    </div>
    <a href="/" class="btn btn-primary">Home</a>
</div>